
<h2 id="reach-out">Source</h2>
<p role="footer"> <a href="https://github.com/mwoolweaver/mwoolweaver.us"> <img src="/assets/img/github.png" style="width:22px;height:22px;border:0;"> </a> </p>

<h2 id="reach-out">Reach Out</h2>
<p role="footer"> <a href="https://twitter.com/m_woolweaver"> <img src="/assets/img/twitter.png" style="width:22px;height:22px;border:0;"> </a> <a href="https://github.com/mwoolweaver"> <img src="/assets/img/github.png" style="width:22px;height:22px;border:0;"> </a> </p>
