Package: io.github.mwoolweaver.DinDisplayPro
Name: Din Display Pro Font for Anemone
Version: 1.0
Architecture: iphoneos-arm
Description: This is the Din Display Pro font for use with nightly builds of Anemone @ https://anemonetheming.com/nightly/         THESE FONTS WILL NOT WORK WITH THE VERSION OF ANEMONE ON THE BIGBOSS REPO
Depends: com.anemonetheming.anemone (>=1.1-348)
Maintainer: Michael Woolweaver <m.woolweaver@icloud.com>
Author: Michael Woolweaver <m.woolweaver@icloud.com>
Section: Fonts (iOS 9 Anemone)
