@import url("../stylesheets/cydia.css");
@font-face {
  font-family: 'AlegreyaSans';
  src: url('AlegreyaSans.woff') format('woff');
}

@font-face {
font-family: 'BeatsByDre';
src: url('BeatsByDre.woff') format('woff');
}
